/**.debug{
   border: 1px solid red;
}*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    /*font-family: Montserrat;*/
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    /*background-color: #161616;*/
    background-image: url(Assets/background.png);
  }
  
  /* Add your CSS Styles Here */

 
 .title{
    /*position: absolute;
    width: 599px;
    height: 128px;
    left: 57px;
    top: 172px;*/

    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 109.714px;
    line-height: 134px;

    color: #F5EAD6;

  }

  .subtitle{
    /*position: absolute;
    width: 1326px;
    height: 61px;
    left: 57px;
    top: 321px;*/

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;

    color: #01ADEF;

  }

  .instructions{
    /*position: absolute;
width: 270px;
height: 44px;
left: 57px;
top: 364px;*/

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 35.9908px;
line-height: 44px;
/* identical to box height */

color: #01ADEF;

  }

  .cityInput{
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color:  #161616;
    border: 3px solid #10466A;
    font-family: Inconsolata;
    font-style: bold;
    color:  #F5EAD6;
    font-size: 24px;
  }

  .cityInput:focus {
    outline: none;
  }

  .ISSbutton{
    background-color: #10466A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    transition-duration: 0.2s;
    outline: none;
  }
  
  .ISSbutton:hover {
    /*border: 3px solid #01ADEF;*/
    opacity: 0.5;
    outline: none;
  }

  /*.ISSbutton:focus{
    background-color: #10466A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }*/

  .nextpass{
    /*position: absolute;
width: 345px;
height: 43px;
left: 52px;
top: 538px;*/

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 43px;
/* identical to box height */

color: #01ADEF;

  }

  .passinfo{
    /*position: absolute;
width: 1316px;
height: 121px;
left: 57px;
top: 533px;*/

font-family: Inconsolata;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 58px;

color: #F5EAD6;
  }

  